.tableScroll {
    overflow-x: scroll;
    overflow-y: visible;
    margin-left: 40%;
    width: 60%;
    background-color: rgb(129, 129, 129);
    font-size: 10px;
}
/* .tableScroll thead th {
    position: sticky;
    background: white;
} */
.tableScroll tr:nth-child(2n) {
    background: rgb(255, 255, 255);
}
.tableScroll tr {
    height: 2em;
}
.tableScroll td,
th {
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding: 0.8em 0.8em;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableScroll th:nth-of-type(1),
td:nth-of-type(1) {
  position: absolute;
  left: 12.3%;
  width: 1.5%;
  text-align: center;
}

.tableScroll th:nth-of-type(2),
td:nth-of-type(2) {
  position: absolute;
  left: 15%;
  width: 12%;
  text-align: center;
}

.tableScroll th:nth-of-type(3),
td:nth-of-type(3) {
  position: absolute;
  left: 28%;
  width: 6%;
  text-align: center;
}
.tableScroll th:nth-of-type(4),
td:nth-of-type(4) {
  position: absolute;
  left: 35%;
  width: 3%;
  text-align: center;
}
.tableScroll th:nth-of-type(5),
td:nth-of-type(5) {
  position: absolute;
  left: 39%;
  width: 7.2%;
  text-align: center;
}

.tableScroll tr:hover td {
  background-color: #ccddff;
}
.tableScroll td:hover:before, th:hover:before { 
	background-color: #eee;
	content: '';  
	height: 100%;
	left: -5000px;
	position: absolute;  
	top: 0;
	width: auto;   
	z-index: -1;        
}
 
.tableScroll td:hover:after, th:hover:before { 
	background-color: #eee;
	content: '';  
	height: 10000px;    
	left: 0;
	position: absolute;  
	top: -5000px;
	width: auto;
	z-index: -2;        
}
.opex{
  background-color: rgb(221, 250, 178);
}
.capex{
  background-color: indianred;
}
.revenue{
  background-color: rgb(123, 92, 145);
}
.money{
  background-color: rgb(127, 105, 255);
}
#fact{
  background-color: rgb(131, 228, 252);
}